<div class="container-fluid header-container">
    <div class="row header-row">
    <div class="col header-col header-col-1">
      <p>Sub menu</p>
    </div>
    <div class="col header-col header-col-2">
      <h1 class="header-col-2-h1">TCG Software For Everyone</h1>
    </div>
    <div class="col header-col header-col-3">
      <div class="col-header-account-info">Acount info</div>
    </div>
  </div>
</div>